.navbar ul {
    font: bold 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    float: right;
}
.navbar li {
    display: inline-block;

}
.navbar a {
    color: #395870;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 3px;
}

a.current:link,a.current:visited{
    background: #395870;
    color: white;
}

.firstLine{
    padding: 10px 4%;
}

.FinkiPage{
    font: bold 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
}

.Block{
    background-color: #4fdb88;
    width: 100%;
    height: 650px;
}

.tabela{
    padding: 25px 15px 0 15px;
}

table{
    border: solid black 1px;
    border-collapse: collapse;
}

td, th{
    text-align: center;
    border: solid black 1px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tekst{
    text-align: center;
    font: bold 20px Helvetica, Arial, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

div.container1 {
    background-color: whitesmoke;
    height: 350px;
    width: 100%;
    border-radius: 5px;
    padding-top: 20px;
    margin: 0 auto;
}

label{
    font-size: 17px;
}

div.container1 .floatRight{
    float: right;
    width: 47%;
    padding-right: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

div .container1 .floatLeft{
    float: left;
    width: 47%;
    padding-left: 4%;
    font-family: Helvetica, Arial, sans-serif;
}

input[type=text], input[type=date],select, textarea {
    margin-bottom: 15px;
    width: 95%;
    border: rgba(101,129,115,0.37) solid 1px;
    padding: 10px;
    border-radius: 5px;
}

select{
    margin-bottom: 15px;
    width: 98%;
    border: rgba(101,129,115,0.37) solid 1px;
    padding: 10px;
    border-radius: 5px;
}
input[type=submit] {
    background: #009750;
    color: white;
    padding: 12px 200px;
    border-radius: 4px;
    border: none;
}

span.submit{
    display: flex;
    justify-content: center;
    padding-top: 300px;
}

.block2{
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
}

.container2{
    padding: 30px;
}

.box{
    padding: 30px;
    background: whitesmoke;
    border-radius: 5px;
}

iframe{
    height: 500px;
    width: 100%;
}

.link1{
    border-radius: 5px;
}

.Block2{
    height:100%;
    background-color: #4fdb88;
}